$primary:#14142A;
$pure-black:#000000;
$dark-blue:#14142A;
$Secondary :#39394B;
$white:#FFFFFF;
$gry-white:#EFEFFF; 
$gry:#ddd;
$Gray:#A8A8B0;
$light-gry:#F7F7FC;
$dark-light:#E1E1FF;
$hover-color:#FF7411;
$Soft-Red:#ED2E7E;
$active-blue:#5F2EEA;
$yellow:#F4B740;
$placeholder:#E1E1FF;
$sky:#00A2CE;
