
    .services{
        padding: 0 45px;
        .title{
            text-align: center;
            font-size:35px;
            padding:76px 0px;

        }
        a{
            color: $primary;
            .single-service{

                h3{
                font-size:25px;
                margin-bottom: 20px;

                }
            
            }  
             &:hover{
                 color:$hover-color;
                }
          } 
  
}
